.icon-bar {
  width: 100%;
  height: 80px;
  background-color: #555;
  overflow: auto;
  margin: 2px 0px;
}

.icon-bar a {
  float: left;
  width: 20%;
  height: 100%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar i {
  margin-top: -8px;
}

.icon-bar p {
  margin-top: -4px;
  font: 28px bold Arial;
}

.icon-bar a:hover {
  background-color: #FEDB00;
}
.ford {
  width: 100%;
  height: 80px;
}


.tab button {
  border: 3px solid #00fe0d;
  border-radius:  1px;
}

.yangilik {
  width: 200px;
  height: 100px;
  border: 2px solid rgb(0, 8, 255);
  float: left;
  border-radius: 10px;
  margin-left: 10px;
  background-color: #FEDB00;
  color: black;
}
.yangilik h1 {
  width: 100%;
  text-align: center;
  margin-top: 0px;
  font: 30px bold Arial;
}

.yangilik p {
  width: 100%;
  text-align: center;
  margin-top: 0px;
}


.container{
  /* border: 1px solid red; */
  /* height: 600px; */
}
.item img{
  width: 100%;
  height: 100px;
}
.slayd{
  /* border: 1px solid red; */
  height: 500px;
}
.carousel-inner{
  width: 100%;
  height: 435px;
  border-radius: 15px;
}
/* media screen */
@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }
  .slayd{
    width: 100%;
    margin-top: 0px;
    max-height: 250px;
  }
  .item img{
    width: 100%;
    height: 180px;
  }
  .carousel-inner{
    width: 100%;
    height: 180px;
  }

  .ford {
    height: 50px;
  }

  .ford img {
    width: 100%;
    height: 50px;
    /* border-radius: 10px; */
  }


  .carousel-inner img {
    width: 100%;
    border-radius: 10px;
  }

  .icon-bar {
      width: 100%;
      max-height: 65px;
      background-color: #555;
      overflow: auto;
      /* border: 1px solid red; */
      margin: 2px 0px;
  }
  .icon-bar i {
      margin-top: 0px;
  }   
  .icon-bar a {
      border-radius: 50%;
      width: 17.5%;
      margin-left: 2%;
      color: rgb(15, 32, 113);
      height: 63px;
      border: 2px solid #FFB833;
      font: 20px bold Arial;
      background-color: #FFE033;
      /* margin-top: px; */
  }

  .icon-bar p {
      margin-top: 0px;
      font: 10px bold Arial;
      
  }

  .footer {
    width: 100%;
    height: 30px;
    margin-top: 70vh;
  }

  .footer button {
    width: 100%;
    height: 100%;
    color: white;
    background-color: aqua;
  }

  .overflow_in {
    width: 100%;
    max-height: 122px;
    overflow-x: auto;
    display: flex;
    /* overflow-x: hidden; */
    overflow-y: auto;
    margin-top: 5px 0px;
  }

  .overflow_in::-webkit-scrollbar {
    width: 0;
  }

  .yangilik {
    border: 2px solid rgb(0, 255, 42);
    width: 187px;
    height: 90px;
    float: left;
    margin-left: 4px;
    border-radius: 10px;
    margin-top: 5px;
    background-color: #FEDB00;
    overflow-x: hidden;
    overflow-y: hidden;
    color: black;
    /* overflow-y: scroll */
  }

  .yangilik h1 {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    font: 30px bold Arial;
  }

  .yangilik p {
    width: 100%;
    text-align: center;
    margin-top: 0px;
  }
}