*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--clr);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
}
:root{
    --clr: #222327;
}
.navigation{
    margin-bottom: 0px;
    position: relative;
    width: 400px;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    bottom: 0;
}
.navigation ul{
    display: flex;
    width: 350px;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.list{
    width: 20%;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.2rem;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.navigation ul li.active a .icon{
    transform: translateY(-32px);
}
.navigation ul li a .text{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}
.indicator{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: #f5d402;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}
.indicator::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clr);
}
.indicator::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);
}
.navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(70px * 4));
}
.ford {
    height: 50px;
  }

  .ford img {
    width: 100%;
    height: 50px;
    /* border-radius: 10px; */
  }
  .slayd{
    /* border: 1px solid red; */
    height: 500px;
  }
  .carousel-inner{
    width: 100%;
    height: 435px;
    border-radius: 15px;
  }
.carousel-inner img{
    width: 100%;
    height: 100%;
}
.tabcontent iframe{
    width: 100%;
    height: 100vh;
}
@media only screen and (max-width: 600px){
    .navigation{
        width: 100%;
        padding: 0;
        margin: 0;
        position: fixed;
        bottom: 0;
        margin-top: 20px;
        z-index: 1;
        /* overflow: hidden; */
    }
    .slayd{
        width: 95%;
        margin: 5px 2%;
        margin-top: 0px;
        max-height: 250px;
      }
      .item img{
        width: 100%;
        height: 180px;
      }
      .carousel-inner{
        width: 100%;
        height: 180px;
      }
      .tabcontent iframe{
        width: 100%;
        height: 1000px;
        z-index: 0;
    }
    .navigation ion-icon{
        font: 25px bold Arial;
    }
}